*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  /* hyphens: auto; */
}

#root,
#__next {
  isolation: isolate;
}

section {
  width: 400px;
  height: 400px;
  margin-bottom: 50px;
  background-color: tomato;
}

.some-fella {
  padding: 48px;
}

.even-padding {
  padding: 20px;
}
.asymmetric-padding {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 80px;
}
/* The same thing, but using ✨ logical properties ✨ */
.asymmetric-logical-padding {
  padding-block-start: 20px;
  padding-block-end: 40px;
  padding-inline-start: 60px;
  padding-inline-end: 80px;
}

/* 
 * first: top and bottom
 * second: left and right
*/
.reduced-declaration {
  padding: 20px 30px;
}

/*
  * first: top
  * second: left and right
  * third: bottom
*/
.reduced-declartion-3-direction {
  padding: 20px 30px 40px;
}
